#table {width: 100%;border-spacing: 0;margin-bottom: 100px;}
#table tr {height: 40px;}
#table tr:nth-child(odd) {background-color: #dddddd;}
#table th {text-align: left;}
#table th div {float: left;}
#page_button {position: absolute;left: 0;bottom: 40px;}
#page_button button:hover{cursor: pointer;}
#page_button .mybutton {margin-left:10px;height: 50px;width: 50px;}
#page_button #active {border:0;background-color: white;}
#page_button .first_page,#page_button .pre_page {margin-left: 10px;height: 50px;width: 100px;display: none;}
#page_button .last_page,#page_button .next_page {margin-left: 10px;height: 50px;width: 100px;}